<html>
<head>
	<title>WORDSTACK~!</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap" rel="stylesheet">
</head>
<body style="background-color: #365457;font-family: 'Noto Serif KR', serif;">
	<div class="container-fluid" style="text-align: center;">
		<div class="row" style="height:33%; ">
			<div class="col" style="background-color: #adebf6;color:#34414d;
			font-size: 3.5rem;">
				<p style="font-size:3rem;
				color:#ababab;
				text-align: right;
				display:block;margin: 0px;display: block;">
					<i class="fab fa-facebook-f"></i>&nbsp;
					<i class="fab fa-twitter"></i>&nbsp;
					<i class="fab fa-instagram"></i>&nbsp;
				</p>
				<p style="float:left;font-size:1.5rem;color:#ababab;display: inline-block;">abc1234님</p>
				<p style="float:right;font-size:1.5rem;color:#ababab;display: inline-block;">23분전</p><br>
				나는 플랜B가 없다
				그저 플랜 A가 잘될수 있게 도와줄
				다른 방법들이 있을 뿐이다.
			</div>
			<div class="col" style="background-color: #91dfee;font-size: 3.5rem;color: white;">
				<p style="font-size:3rem;
				color:#ababab;
				text-align: right;
				display:block;margin: 0px;display: block;">
					<i class="fab fa-facebook-f"></i>&nbsp;
					<i class="fab fa-twitter"></i>&nbsp;
					<i class="fab fa-instagram"></i>&nbsp;
				</p>
				<p style="float:left;font-size:1.5rem;color:#ababab;display: inline-block;">abc1234님</p>
				<p style="float:right;font-size:1.5rem;color:#ababab;display: inline-block;">23분전</p><br>
				나의 비밀은 단 하나이다
				나는 절대 포기하지 않는다
			</div>
		</div>
		<div class="row" style="height: 33%;">
			<div class="col" style="background-color: #ffffff;font-size: 3.5rem;color: gray">
				<p style="font-size:3rem;
				color:#ababab;
				text-align: right;
				display:block;margin: 0px;display: block;">
					<i class="fab fa-facebook-f"></i>&nbsp;
					<i class="fab fa-twitter"></i>&nbsp;
					<i class="fab fa-instagram"></i>&nbsp;
				</p>
				<p style="float:left;font-size:1.5rem;color:#ababab;display: inline-block;">abc1234님</p>
				<p style="float:right;font-size:1.5rem;color:#ababab;display: inline-block;">23분전</p><br>
				일하라.. 당신의 은행계좌가
				전화번호처럼 보일때까지..
			</div>
			<div class="col" style="background-color: #ffd577;font-size: 3.5rem;color: white;">
				<p style="font-size:3rem;
				color:#ababab;
				text-align: right;
				display:block;margin: 0px;display: block;">
					<i class="fab fa-facebook-f"></i>&nbsp;
					<i class="fab fa-twitter"></i>&nbsp;
					<i class="fab fa-instagram"></i>&nbsp;
				</p>
				<p style="float:left;font-size:1.5rem;color:#ababab;display: inline-block;">abc1234님</p>
				<p style="float:right;font-size:1.5rem;color:#ababab;display: inline-block;">23분전</p><br>
				인생은 집을 향한 여행이다.
			</div>
		</div>
		<div class="row" style="height: 33%;">
			<div class="col" style="background-color: #ffd577;font-size: 3.5rem;color: white;">
				<p style="font-size:3rem;
				color:#ababab;
				text-align: right;
				display:block;margin: 0px;display: block;">
					<i class="fab fa-facebook-f"></i>&nbsp;
					<i class="fab fa-twitter"></i>&nbsp;
					<i class="fab fa-instagram"></i>&nbsp;
				</p>
				<p style="float:left;font-size:1.5rem;color:#ababab;display: inline-block;">abc1234님</p>
				<p style="float:right;font-size:1.5rem;color:#ababab;display: inline-block;">23분전</p><br>
				계산된 위험은 감수하라. 이는 단순히 무모한 것과는 완전히 다른 것이다.
			</div>
			<div class="col" style="background-color: #adebf6;color:#34414d;font-size: 3.5rem;">
				<p style="font-size:3rem;
				color:#ababab;
				text-align: right;
				display:block;margin: 0px;display: block;">
					<i class="fab fa-facebook-f"></i>&nbsp;
					<i class="fab fa-twitter"></i>&nbsp;
					<i class="fab fa-instagram"></i>&nbsp;
				</p>
				<p style="float:left;font-size:1.5rem;color:#ababab;display: inline-block;">abc1234님</p>
				<p style="float:right;font-size:1.5rem;color:#ababab;display: inline-block;">23분전</p><br>
				약간의 광기도 없는 위대한 천재란 있을 수 없다.
			</div>
		</div>
		<div class="row" style="height: 33%;">
			<div class="col" style="background-color: #adebf6;color:#34414d;font-size: 3.5rem;">
				<p style="font-size:3rem;
				color:#ababab;
				text-align: right;
				display:block;margin: 0px;display: block;">
					<i class="fab fa-facebook-f"></i>&nbsp;
					<i class="fab fa-twitter"></i>&nbsp;
					<i class="fab fa-instagram"></i>&nbsp;
				</p>
				<p style="float:left;font-size:1.5rem;color:#ababab;display: inline-block;">abc1234님</p>
				<p style="float:right;font-size:1.5rem;color:#ababab;display: inline-block;">23분전</p><br>
				미래를 예측하는 최선의 방법은 미래를 창조하는 것이다.
			</div>
			<div class="col" style="background-color: #91dfee;font-size: 3.5rem;color: white;">
				<p style="font-size:3rem;
				color:#ababab;
				text-align: right;
				display:block;margin: 0px;display: block;">
					<i class="fab fa-facebook-f"></i>&nbsp;
					<i class="fab fa-twitter"></i>&nbsp;
					<i class="fab fa-instagram"></i>&nbsp;
				</p>
				<p style="float:left;font-size:1.5rem;color:#ababab;display: inline-block;">abc1234님</p>
				<p style="float:right;font-size:1.5rem;color:#ababab;display: inline-block;">23분전</p><br>
				삶은 당신이 잠들지 못할 때 벌어지는 일이다.
			</div>
		</div>
		<div class="row" style="height: 33%;">
			<div class="col" style="background-color: #ffffff;font-size: 3.5rem;color: gray;">
				<p style="font-size:3rem;
				color:#ababab;
				text-align: right;
				display:block;margin: 0px;display: block;">
					<i class="fab fa-facebook-f"></i>&nbsp;
					<i class="fab fa-twitter"></i>&nbsp;
					<i class="fab fa-instagram"></i>&nbsp;
				</p>
				<p style="float:left;font-size:1.5rem;color:#ababab;display: inline-block;">abc1234님</p>
				<p style="float:right;font-size:1.5rem;color:#ababab;display: inline-block;">23분전</p><br>
				삶은 즐겁다. 죽음은 평화롭다. 골칫거리는 바로 그 중간과정이다.
			</div>
			<div class="col" style="background-color: #ffd577;font-size: 3.5rem;color: white;">
				<p style="font-size:3rem;
				color:#ababab;
				text-align: right;
				display:block;margin: 0px;display: block;">
					<i class="fab fa-facebook-f"></i>&nbsp;
					<i class="fab fa-twitter"></i>&nbsp;
					<i class="fab fa-instagram"></i>&nbsp;
				</p>
				<p style="float:left;font-size:1.5rem;color:#ababab;display: inline-block;">abc1234님</p>
				<p style="float:right;font-size:1.5rem;color:#ababab;display: inline-block;">23분전</p><br>
자전거에 앉아서 우는것보다
벤츠에 앉아서 우는게 더 행복하다
			</div>
		</div>
		<div class="row" style="height: 33%;">
			<div class="col" style="background-color: #ffd577;font-size: 3.5rem;color: white;">
				<p style="font-size:3rem;
				color:#ababab;
				text-align: right;
				display:block;margin: 0px;display: block;">
					<i class="fab fa-facebook-f"></i>&nbsp;
					<i class="fab fa-twitter"></i>&nbsp;
					<i class="fab fa-instagram"></i>&nbsp;
				</p>
				<p style="float:left;font-size:1.5rem;color:#ababab;display: inline-block;">abc1234님</p>
				<p style="float:right;font-size:1.5rem;color:#ababab;display: inline-block;">23분전</p><br>
				사랑하는 것은 천국을 살짝 엿보는 것이다.
			</div>
			<div class="col" style="background-color: #adebf6;color:#34414d;
			font-size: 3.5rem;">
				<p style="font-size:3rem;
				color:#ababab;
				text-align: right;
				display:block;margin: 0px;display: block;">
					<i class="fab fa-facebook-f"></i>&nbsp;
					<i class="fab fa-twitter"></i>&nbsp;
					<i class="fab fa-instagram"></i>&nbsp;
				</p>
				<p style="float:left;font-size:1.5rem;color:#ababab;display: inline-block;">abc1234님</p>
				<p style="float:right;font-size:1.5rem;color:#ababab;display: inline-block;">23분전</p><br>
				자신이 성공에서 얼마나 가까이 있었는지 모른다. 
			</div>
		</div>
		<canvas id="word_cloud" style="margin:0px;"></canvas>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/wordcloud2.js"></script>
<script type="text/javascript">
	


	window.onload=init();

	function init(){
	
	}

	

</script>
</html>